/*my_css.css*/
.quote {
  font-size: 0.85em;
}

#logo {
  width: 100%;
  height: 350px;
}

.my-image {
  width: 100%;
  height: 200px;
}

.myFigures {
  display: none;
}

.body {
  max-width: 950px;
}
